.Rproj.user
.Rhistory
.RData
.Ruserdata
Pydoc/.idea/misc.xml
Pydoc/.idea/Pydoc.iml
PyDoc/.idea/.name
HwDocx/part-00000
ProfessorLauResearch/data/raw-890.rar
*.png
Pydoc/.idea/Pydoc.iml
Pydoc/.idea/misc.xml
